Repository bentoml/BentoML, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parano, @yubozhao, @bentoml/bentoml-reviewers, @larme, @sauyon, @ssheng, @bojiang, @aarnphm, @jjmachan, @yetone

feat: add generic protobuf (#2634)
  protos/io_descriptors.proto
Owners: none

feat: added generic proto file for grpc service (#2742)
  protos/io_descriptors.proto
  protos/service.proto
Owners: none

chore: rename protobuf message for Array repr (#2745)
  bentoml/_internal/io_descriptors/numpy.py
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers

style: gRPC (#2746)
  .github/workflows/ci.yml
  .gitignore
  Makefile
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/protos/__init__.py
  protos/buf.yaml
  protos/generate.py
  protos/io_descriptors.proto
  protos/payload.proto
  protos/service.proto
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/style/proto_check.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
  setup.cfg
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers

feat: grpc generated stubs (#2756)
  DEVELOPMENT.md
  protos/generate.py
  pyproject.toml
  setup.cfg
  setup.py
Owners: none

chore: update protobuf conversion functions (#2749)
  bentoml/_internal/io_descriptors/numpy.py
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers

feat(dev-server): `--grpc` (#2763)
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/service/service.py
  requirements/tests-requirements.txt
  scripts/tools/formatter.sh
  setup.cfg
Owners: @ssheng, @parano, @larme, @bentoml/bentoml-reviewers, @sauyon, @bojiang, @aarnphm

chore: init correct io_descriptors abstract methods (#2771)
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  pyproject.toml
  setup.cfg
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers

chore: add context to grpc abstract methods (#2800)
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers

chore: initialize grpc configuration (#2799)
  .gitattributes
  DEVELOPMENT.md
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  hooks/pre-commit
  scripts/ci/style/proto_check.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
Owners: @ssheng, @parano, @larme, @bentoml/bentoml-reviewers

fix: protobuf generation on windows (#2759)
  pyproject.toml
  setup.cfg
  setup.py
Owners: none

chore: remove ast parsing and reorg
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/service/service.py
  bentoml/protos/buf.yaml
  bentoml/protos/payload.proto
  bentoml/protos/payload_pb2.pyi
  bentoml/protos/service.proto
  bentoml/protos/service_pb2.pyi
  bentoml/protos/service_pb2_grpc.pyi
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/style/proto_check.sh
  scripts/tools/formatter.sh
  setup.cfg
  setup.py
Owners: @aarnphm, @parano, @bentoml/bentoml-reviewers, @sauyon, @bojiang, @ssheng

chore: convert namespace from .protos to .grpc (#2779)
  bentoml/grpc/__init__.py
  bentoml/grpc/buf.yaml
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/service_pb2.pyi
  bentoml/grpc/v1/service_pb2_grpc.pyi
  bentoml/grpc/v1/service_test.proto
  bentoml/grpc/v1/service_test_pb2.pyi
  bentoml/grpc/v1/service_test_pb2_grpc.pyi
  bentoml/grpc/v1/struct.proto
  bentoml/grpc/v1/struct_pb2.pyi
  bentoml/grpc/v1/types.proto
  bentoml/grpc/v1/types_pb2.pyi
  bentoml/protos/buf.yaml
  bentoml/protos/payload.proto
  bentoml/protos/payload_pb2.pyi
  bentoml/protos/service.proto
  bentoml/protos/service_pb2.pyi
  bentoml/protos/service_pb2_grpc.pyi
  pyproject.toml
  setup.cfg
  setup.py
Owners: @bentoml/bentoml-reviewers

refactor: fix entrypoints to address #2801 (#2802)
  bentoml/_internal/server/cli/grpc/__init__.py
  bentoml/_internal/server/cli/grpc/dev_api_server.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/server/cli/http/__init__.py
  bentoml/_internal/server/cli/http/api_server.py
  bentoml/_internal/server/cli/http/dev_api_server.py
Owners: @sauyon, @bojiang, @aarnphm, @parano, @bentoml/bentoml-reviewers

feat(io): numpy grpc handling (#2823)
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/grpc/buf.yaml
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/struct.proto
  setup.py
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers, @bojiang, @parano

revert: remove errors and status code from message
  bentoml/grpc/v1/service.proto
  pyproject.toml
  setup.cfg
  setup.py
Owners: @bentoml/bentoml-reviewers

fix: repeated contents field
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/grpc/v1/service.proto
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers

refactor: gRPC server lifecycle (#2801)
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc/dev_api_server.py
  bentoml/_internal/server/cli/http/api_server.py
  bentoml/_internal/server/cli/http/dev_api_server.py
  bentoml/_internal/server/grpc/__init__.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/utils.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/exceptions.py
  bentoml/testing/server.py
Owners: @aarnphm, @parano, @bentoml/bentoml-reviewers, @sauyon, @bojiang, @ssheng

chore: remove unused changes
  .gitattributes
  requirements/tests-requirements.txt
  setup.cfg
Owners: none

grpc: serialization process (#2804)
  .gitignore
  MANIFEST.in
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc/__init__.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/server/cli/http/__init__.py
  bentoml/_internal/server/cli/rest_api_server.py
  bentoml/_internal/server/cli/rest_dev_api_server.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc/utils.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/grpc/v1/__init__.py
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/service_pb2.pyi
  bentoml/grpc/v1/service_pb2_grpc.pyi
  bentoml/grpc/v1/service_test.proto
  bentoml/grpc/v1/service_test_pb2.pyi
  bentoml/grpc/v1/service_test_pb2_grpc.pyi
  bentoml/grpc/v1/struct.proto
  bentoml/grpc/v1/struct_pb2.pyi
  bentoml/grpc/v1/types.proto
  bentoml/grpc/v1/types_pb2.pyi
  bentoml/testing/server.py
  pyproject.toml
  setup.cfg
  setup.py
Owners: @aarnphm, @parano, @bentoml/bentoml-reviewers, @sauyon, @bojiang, @ssheng

fix: anyio.run_sync for sync function
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/grpc/servicer.py
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers, @bojiang, @parano

feat: added grpc access log (#2825)
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/interceptors/access.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
  setup.cfg
Owners: @aarnphm, @parano, @bentoml/bentoml-reviewers, @sauyon, @bojiang

fix(numpy): handling numpy object and rename to generic types
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/interceptors/access.py
  bentoml/_internal/server/grpc/interceptors/trace.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/grpc/v1/service.proto
Owners: @ssheng, @bentoml/bentoml-reviewers, @sauyon, @aarnphm, @bojiang, @parano

chore: address comments and remove unused imports
  DEVELOPMENT.md
  bentoml/_internal/server/grpc/interceptors/__init__.py
Owners: @sauyon, @bojiang, @aarnphm, @parano, @bentoml/bentoml-reviewers

chore: cleanup and remove client interceptor
  DEVELOPMENT.md
  Makefile
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/http_api_server.py
  bentoml/_internal/server/cli/http_dev_api_server.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/testing/server.py
Owners: @aarnphm, @parano, @bentoml/bentoml-reviewers, @sauyon, @bojiang

fix version matching
  bentoml/_internal/configuration/__init__.py
Owners: @ssheng, @bentoml/bentoml-reviewers

add logic for excluding urls
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
Owners: @ssheng, @bentoml/bentoml-reviewers, @sauyon, @bojiang, @aarnphm, @parano

revert unnecessary change
  bentoml/_internal/configuration/__init__.py
Owners: @ssheng, @bentoml/bentoml-reviewers

feat: adding AsyncOpenTelemetryServerInterceptor
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/interceptors/trace.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/grpc/v1/service.proto
Owners: @sauyon, @bojiang, @aarnphm, @parano, @bentoml/bentoml-reviewers

chore: updates codec to match correct content-type headers
  bentoml/_internal/server/grpc/__init__.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/interceptors/opentelemetry.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
Owners: @sauyon, @bojiang, @aarnphm, @parano, @bentoml/bentoml-reviewers

fix: formatting
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Owners: @aarnphm, @parano, @bentoml/bentoml-reviewers

chore: updates comments about some functionalities
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
Owners: @sauyon, @bojiang, @aarnphm, @parano, @bentoml/bentoml-reviewers

fix: output logs when handling error
  bentoml/_internal/server/grpc/interceptors/__init__.py
Owners: @sauyon, @bojiang, @aarnphm, @parano, @bentoml/bentoml-reviewers

chore: fix numpy state changes
  bentoml/_internal/io_descriptors/numpy.py
Owners: @sauyon, @aarnphm, @bentoml/bentoml-reviewers

tuple
  bentoml/_internal/utils/buildx.py
Owners: @aarnphm, @bentoml/bentoml-reviewers

typo
  bentoml/_internal/utils/buildx.py
Owners: @aarnphm, @bentoml/bentoml-reviewers

Update bentoml/_internal/utils/buildx.py
  bentoml/_internal/utils/buildx.py
Owners: @aarnphm, @bentoml/bentoml-reviewers

Update bentoml/_internal/utils/buildx.py
  bentoml/_internal/utils/buildx.py
Owners: @aarnphm, @bentoml/bentoml-reviewers

fix: extend --cache-from consumption to python tuple (#2847)
  bentoml/_internal/utils/buildx.py
Owners: @aarnphm, @bentoml/bentoml-reviewers

feat: add support for excluding urls from tracing (#2843)
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
Owners: @ssheng, @bentoml/bentoml-reviewers, @sauyon, @bojiang, @aarnphm, @parano

.github/CODEOWNERS:

# Auto-generated via ./scripts/generate-owners.
# Uses OWNERS files in different modules throughout the
# repository as the source of truth for module ownership.
/**/OWNERS @parano @yubozhao
/bentoml/** @bentoml/bentoml-reviewers
/bentoml/tensorflow* @larme @bentoml/bentoml-reviewers
/bentoml/xgboost.py @sauyon @bentoml/bentoml-reviewers
/bentoml/transformers.py @ssheng @bentoml/bentoml-reviewers
/bentoml/pytorch.py @bojiang @bentoml/bentoml-reviewers
/bentoml/torchscript.py @bojiang @bentoml/bentoml-reviewers
/bentoml/pytorch_lightning.py @bojiang @bentoml/bentoml-reviewers
/bentoml/onnx.py @larme @bentoml/bentoml-reviewers
/bentoml/keras.py @larme @bentoml/bentoml-reviewers
/bentoml/mlflow.py @parano @bentoml/bentoml-reviewers
/bentoml/sklearn.py @parano @bentoml/bentoml-reviewers
/bentoml/fastai.py @aarnphm @bentoml/bentoml-reviewers
/bentoml/bentos.py @aarnphm @bentoml/bentoml-reviewers
/bentoml/paddle.py @jjmachan @bentoml/bentoml-reviewers
/bentoml/catboost.py @yetone @bentoml/bentoml-reviewers
/bentoml/_internal/bento/ @aarnphm @parano @bentoml/bentoml-reviewers
/bentoml/_internal/server/ @sauyon @bojiang @aarnphm @parano @bentoml/bentoml-reviewers
/bentoml/_internal/frameworks/ @bojiang @larme @bentoml/bentoml-reviewers
/bentoml/_internal/io_descriptors/ @sauyon @aarnphm @bentoml/bentoml-reviewers
/bentoml/_internal/runner/ @sauyon @bojiang @aarnphm @larme @bentoml/bentoml-reviewers
/bentoml/_internal/cli/ @ssheng @parano @larme @bentoml/bentoml-reviewers
/bentoml/_internal/yatai* @yetone @bentoml/bentoml-reviewers
/bentoml/_internal/service/ @bojiang @ssheng @parano @bentoml/bentoml-reviewers
/bentoml/_internal/utils/analytics @aarnphm @bentoml/bentoml-reviewers
/bentoml/_internal/configuration/ @ssheng @bentoml/bentoml-reviewers
/bentoml/_internal/models/ @sauyon @parano @bentoml/bentoml-reviewers
/bentoml/_internal/marshal/ @bojiang @bentoml/bentoml-reviewers
/bentoml/_internal/models @ssheng @bentoml/bentoml-reviewers @sauyon @parano
/bentoml/_internal/resource.py @sauyon @bentoml/bentoml-reviewers
/bentoml/_internal/log.py @sauyon @bentoml/bentoml-reviewers
/bentoml/_internal/store.py @sauyon @bentoml/bentoml-reviewers
/bentoml/_internal/tag.py @sauyon @bentoml/bentoml-reviewers
/bentoml/_internal/exportable.py @sauyon @bentoml/bentoml-reviewers
/bentoml/_internal/utils/buildx.py @aarnphm @bentoml/bentoml-reviewers
/bentoml/_internal/utils/cattr.py @aarnphm @bentoml/bentoml-reviewers
/bentoml/_internal/utils/tensorflow.py @larme @bentoml/bentoml-reviewers
/bentoml/_internal/utils/benchmark.py @larme @bentoml/bentoml-reviewers
/bentoml/_internal/utils/circus.py @bojiang
/bentoml/_internal/bento/docker/** @aarnphm @bentoml/bentoml-reviewers
/bentoml/testing/** @bojiang @bentoml/bentoml-reviewers
/docs/source/** @parano @ssheng @bentoml/bentoml-reviewers
/examples/** @bentoml/bentoml-reviewers
